/* .checkbox-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 1px!important;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
} */


.checkbox-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 43%!important;
    left: 6px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-50%, -50%);
}
