<div class="row">
    <div class="col-md-12">
        <div class="register-modal-header">
            <h4>Add links you’d like homeowners to see</h4>
            <p>Footer links appear in the homeowner dashboard below their recommendations. <br> Add your website, listing links and more.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="setting-heading-text">
            <h4>Footer Links</h4>
            <h6>The URL is the link, and the title is how it will appear in the footer</h6>
        </div>
    </div>
</div>
<form [formGroup]="inputFormFooterLink" (ngSubmit)="onSubmitFooterLink()">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="form-group">
                <label for="company">URL <span>*</span></label>
                <input type="text" class="form-control facebook-input" placeholder="Add URL" (focusout)="commonOpsService.trimFormControlOnFocusOut($event, inputFormFooterLink, 'linkUrl')" formControlName="linkUrl">
                <div *ngIf="(formControls.linkUrl.invalid) && (submitted || formControls.linkUrl.dirty || formControls.linkUrl.touched)" class="text-danger">
                    <div *ngIf="formControls.linkUrl.errors?.required">
                        Url is required.
                    </div>
                    <div *ngIf="formControls.linkUrl.errors?.pattern">
                        Please provide valid url.
                    </div>
                </div>
            </div>
        </div>
        <!--  col-md-6   -->
        <div class="col-lg-6 col-md-12">
            <div class="form-group">
                <label for="company">Custom Title <span>*</span></label>
                <input type="text" class="form-control" placeholder="Add Custom Title"  formControlName="linkTitle">
                <div *ngIf="(formControls.linkTitle.invalid) && (submitted || formControls.linkTitle.dirty)" class="text-danger">
                    <div *ngIf="formControls.linkTitle.errors?.required">
                        Custom title is required.
                    </div>
                    <div *ngIf="formControls.linkTitle.errors?.pattern">
                        Please provide valid Custom title.
                    </div>
                    <div *ngIf="formControls.linkTitle.errors?.maxlength">
                        Custom title can be max 20 characters long..
                    </div>
                </div>
            </div>
        </div>
        <!--  col-md-6   -->
        <div class="col-md-12">
            <div class="submit-rea-form-group">
                <button type="submit" class="btn btn-primary">Add Link</button>
            </div>
        </div>
        <!--  col-md-6   -->

    </div>
</form>


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="setting-heading-text">
            <h4>Create Footer Links</h4>
            <h6>There are the links you’re already created. You can edit or remove them.</h6>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="footer-link-table table-responsive">

            <table class="table" cellspacing="0">
                <thead>
                    <tr>
                        <th>Titles</th>
                        <th>Links</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="footerLinks.length>0; else noFooterLinks">
                    <tr *ngFor="let footerLink of footerLinks">
                        <td>
                            <div class="ho-name-td-width">{{footerLink.linkTitle}}</div>
                        </td>
                        <td>
                            <div class="ho-name-td-width">{{footerLink.linkUrl}}</div>
                        </td>
                        <td>
                            <ul class="edit-footer-ul">
                                <li><a href="javascript:;" (click)="openAddEditFooterLinkModal(addEditFooterLinkModalContent, footerLink.footerLinkId)" class="btn-secondary-small">Edit</a></li>
                                <li><a href="javascript:;" (click)="openRemoveFooterLink(removeFooterLinkAlertModel, footerLink.footerLinkId)" class="remove-footer-link"><i class="fas fa-trash"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
                <ng-template #noFooterLinks>
                    <div>
                        No Footer Links yet..
                    </div>

                </ng-template>
            </table>
        </div>
    </div>
</div>
















<!-- <form [formGroup]="inputFormFooterLink" (ngSubmit)="onSubmitFooterLink()">

    <div class="modal-body">

        <div class="add-footer-modal-form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email">URL <span>*</span></label>
                        <input type="text" class="form-control facebook-input" placeholder="Add URL"
                            formControlName="linkUrl">
                        <div *ngIf="(formControls.linkUrl.invalid) && (submitted || formControls.linkUrl.dirty || formControls.linkUrl.touched)"
                            class="text-danger">
                            <div *ngIf="formControls.linkUrl.errors?.required || formControls.linkUrl.value==0">
                                Url is required.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email">Custom Title <span>*</span></label>
                        <input type="text" class="form-control" placeholder="Add Custom Title"
                            formControlName="linkTitle">
                        <div *ngIf="(formControls.linkTitle.invalid) && (submitted || formControls.linkTitle.dirty || formControls.linkTitle.touched)"
                            class="text-danger">
                            <div *ngIf="formControls.linkTitle.errors?.required || formControls.linkTitle.value==0">
                                Custom title is required.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add Link</button>
    </div>
</form> -->


<!-- <table class="table" cellspacing="0">
    <thead>
        <tr>
            <th>Titles</th>
            <th>Links</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let footerLink of footerLinks">
            <td>{{footerLink.linkTitle}}</td>
            <td>{{footerLink.linkUrl}}</td>
            <td>
                <ul class="edit-footer-ul">
                    <li><a href="javascript:;"
                            (click)="openAddEditFooterLinkModal(addEditFooterLinkModalContent, footerLink.footerLinkId)"
                            class="btn-secondary-small">Edit</a></li>
                    <li><a href="javascript:;"
                            (click)="openRemoveFooterLink(removeFooterLinkAlertModel, footerLink.footerLinkId)"
                            class="remove-footer-link"><i class="fas fa-trash"></i></a></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table> -->

<ng-template #removeFooterLinkAlertModel let-modal>
    <div class="skip-recommendations">
        <div class="modal-header">
            <button type="button" (click)="onRemoveFooterLinkModalCancelClick()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="assets/img/notification-icon.svg" class="notification-icon" alt="modal-home-icon">
            <p>Are you sure you want to Remove this footer link?</p>
            <p class="notification-text-account">This cannot be undone</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="onRemoveFooterLinkModalCancelClick()" data-bs-dismiss="modal">No</button>
            <button type="button" (click)="onRemoveFooterLinkModalYesClick()" class="btn btn-primary">Yes</button>
        </div>
    </div>
</ng-template>


<div class="add-footer-link-modal">
    <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <!-- <div class="modal-content"> -->
            <ng-template #addEditFooterLinkModalContent let-modal>
                <form [formGroup]="inputFormEditFooterLink" (ngSubmit)="onSubmitEditFooterLink()">
                    <div class="modal-header">
                        <button type="button" (click)="onAddEditFooterLinkModalCancelClick()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="add-footer-modal-heading">
                            <h4>Edit Helpful Link</h4>
                            
                        </div>

                        <div class="add-footer-modal-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email">URL <span>*</span></label>
                                        <input type="text" class="form-control facebook-input" placeholder="Add URL" formControlName="linkUrl">
                                        <div *ngIf="(EditFormControls.linkUrl.invalid) && (submitted || EditFormControls.linkUrl.dirty || EditFormControls.linkUrl.touched)" class="text-danger">
                                            <div *ngIf="EditFormControls.linkUrl.errors?.required">
                                                Url is required.
                                            </div>
                                            <div *ngIf="EditFormControls.linkUrl.errors?.pattern">
                                                Please provide valid url.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  col-md-6   -->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email">Custom Title <span>*</span></label>
                                        <input type="text" class="form-control" placeholder="Add Custom Title" formControlName="linkTitle">
                                        <div *ngIf="(EditFormControls.linkTitle.invalid) && (submitted || EditFormControls.linkTitle.dirty || EditFormControls.linkTitle.touched)" class="text-danger">
                                            <div *ngIf="EditFormControls.linkTitle.errors?.required">
                                                Custom title is required.
                                            </div>
                                            <div *ngIf="EditFormControls.linkTitle.errors?.pattern">
                                                Please provide valid Custom title.
                                            </div>
                                            <div *ngIf="EditFormControls.linkTitle.errors?.maxlength">
                                                Custom title can be max 20 characters long.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  col-md-6   -->

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="onAddEditFooterLinkModalCancelClick()" data-bs-dismiss="modal">No</button>
                        <button type="submit" *ngIf="selectedFooterLinkId==0" class="btn btn-primary">Add Link</button>
                        <button type="submit" *ngIf="selectedFooterLinkId>0" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </ng-template>
        </div>
    </div>
</div>