/* .select-month-box :not(.selected-month):not(.disabled-month):not(.already-drated-month):hover {
    text-decoration: none;
    background-color: transparent;
    color: inherit;
    pointer-events: visible;
  } */