<form [formGroup]="inputForm" (ngSubmit)="onSubmit()" (keydown)="keyDownFunction($event)">
    <div class="modal-inner">
        <div class="modal-header">
            <div class="home-img-box">
                <img src="assets/img/{{mainCategory?.iconName}}" class="heat-home-icon" alt="detail-home-icon">
                <h4>{{mainCategory?.title}}</h4>
            </div>
            <button type="button" class="btn-close" (click)="closeFormEvent.emit()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="hidden" formControlName="homeOwnerAddressAttributeRefId">
            <input type="hidden" formControlName="homeAddressHeatingDetailId">
            <div class="row">
                <div class="col-md-12">
                    <div class="heating-system-ho-box">
                        <div class="form-group cool-check-label">
                            <div class="checkbox-group">
                                <input type="checkbox" (click)="onClickDontHave($event)" [checked]="homeOwnerAddressDetailStatusType==2" id="heating-system">
                                <label for="heating-system">{{subCategories[2]?.title}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="slider_section" class="cooling-setting-slider">
                        <h5>Heating Settings</h5>
                        <div class="custom-slider">
                            <div class="form-group">
                                <input type="number" (input)="chaeckValidTemp()" min="55" max="95" formControlName="thermostatTemperature" class="form-control" autocomplete="off" placeholder="Please enter a value from 55 to 95.">
                                <!-- <div *ngIf="inputForm.controls?.dontHaveHeatingDetail?.value == 0 && inputForm.controls.thermostatTemperature.value==0 && thermostatTem" class="text-danger errorText">Temperature is required
                                </div> -->
                                <div *ngIf="formControls.dontHaveHeatingDetail.value==0" class="text-danger errorText" style="display: none;" id="thermostatTem">Temperature is required
                                </div>
                                <div *ngIf="(inputForm.controls.thermostatTemperature.dirty || inputForm.controls.thermostatTemperature.touched)" class="text-danger">
                                     <div *ngIf="(inputForm.controls?.dontHaveHeatingDetail?.value == 0 && ((inputForm.controls.thermostatTemperature.value==0 && inputForm.controls.thermostatTemperature.value != null )  || (inputForm.controls.thermostatTemperature.value < 55 && inputForm.controls.thermostatTemperature.value != null ) || (inputForm.controls.thermostatTemperature.value > 95 && inputForm.controls.thermostatTemperature.value != null)))" class="text-danger">
                                        Please enter a value from 55 to 95.
                                    </div>
                                </div> 
                            </div>
                             <!-- <div class="custom-slider">
                                <ngx-slider [(value)]="tempValue" [options]="options"></ngx-slider>
                            </div>  -->

                            <!-- <ngx-slider [(value)]="tempValue" [options]="options"></ngx-slider> -->
                            <!-- <img class="img-fluid" src="assets/img/cooling-setting-slider.png" alt="cooling-setting-slider"> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="add-source-ho-box">
                        <!-- <div class="modal-heading-box"> -->
                        <a class="btn-secondary" *ngIf="formControls.dontHaveHeatingDetail.value==0" (click)="onAddNewHomeDetailParam()">
                        + Add Source
                    </a>
                        <!-- [attr.disabled]="formControls.dontHaveHeatingDetail.value==1 ? 'disabled' :null" -->
                        <span class="btn-secondary-disabled" *ngIf="formControls.dontHaveHeatingDetail.value==1">
                        + Add Source
                    </span>
                        <!-- </div> -->
                    </div>
                </div>
            </div>


            <div class="row" *ngFor="let heatingDetail of heatingDetailParmsArray; index as i">
                <div class="col-md-12">
                    <div class="modal-heading-box cool-ho-new-heading">
                        <h5>Heating source {{i+1}}</h5>
                        <button *ngIf="i>0" type="button" (click)="onRemoveHomeDetailParm(i)" class="btn-close remove-source"></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="first">{{subCategories[0]?.title}}</label>
                        <div class="select-dropdown">
                            <select class="form-select" [attr.disabled]="formControls.dontHaveHeatingDetail.value==1 ? 'disabled' :null" [ngClass]="{'disabled-input': formControls.dontHaveHeatingDetail.value==1}" aria-label="Default select example" value="heatingDetail.heatingSystemType"
                                id="heatingSystemType_{{i}}" (change)="onChangeHomeDetailParm(i, 'heatingSystemType')">
                                <option value="0" selected>Select {{subCategories[0]?.title}}</option>
                                <option *ngFor="let heatingSystemType of subCategories[0]?.homeVariableSubCategoryListItems"
                                    value="{{heatingSystemType.homeVariableSubCategoryListItemId}}">
                                    {{heatingSystemType.title}}</option>
                            </select>
                            <!-- <div *ngIf="formControls.heatingSystemType.invalid && (formControls.heatingSystemType.dirty || formControls.heatingSystemType.touched)"
                                class="text-danger">
                                <div *ngIf="formControls.heatingSystemTypeEnum.errors?.required">
                                    Heating System Type is required.
                                </div>
                            </div> -->
                        </div>
                        <div *ngIf="formControls.dontHaveHeatingDetail.value==0" class="text-danger errorText" style="display: none;" id="heatingSystemTypeError_{{i}}">{{subCategories[0]?.title}} is required </div>
                    </div>
                </div>
                <!--  col-md-6   -->

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="last">{{subCategories[1]?.title}}</label>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 year-ho-select">
                                <select class="form-select" [attr.disabled]="formControls.dontHaveHeatingDetail.value==1 ? 'disabled' :null" [ngClass]="{'disabled-input': formControls.dontHaveHeatingDetail.value==1}" aria-label="Default select example" [value]="heatingDetail.age_Year"
                                    id="age_Year_{{i}}" (change)="onChangeHomeDetailParm(i, 'age_Year')">
                                    <option value="0" selected>Year</option>
                                    <option value="-1">Don't know</option>
                                    <option value="1">1 year</option>
                                    <option value="2">2 years</option>
                                    <option value="3">3 years</option>
                                    <option value="4">4 years</option>
                                    <option value="5">5 years</option>
                                    <option value="6">6 years</option>
                                    <option value="7">7 years</option>
                                    <option value="8">8 years</option>
                                    <option value="9">9 years</option>
                                    <option value="10">10 years</option>
                                </select>
                            </div>
                            <div class="col-md-6  col-sm-6">
                                <select class="form-select" [attr.disabled]="formControls.dontHaveHeatingDetail.value==1 ? 'disabled' :null" [ngClass]="{'disabled-input': formControls.dontHaveHeatingDetail.value==1}" aria-label="Default select example" [value]="heatingDetail.age_Month"
                                    id="age_Month_{{i}}" (change)="onChangeHomeDetailParm(i, 'age_Month')">
                                    <option value="0" selected>0 Month</option>
                                    <option value="-1">Don't know</option>
                                    <option value="1">1 month</option>
                                    <option value="2">2 months</option>
                                    <option value="3">3 months</option>

                                    <option value="4">4 months</option>
                                    <option value="5">5 months</option>
                                    <option value="6">6 months</option>

                                    <option value="7">7 months</option>
                                    <option value="8">8 months</option>
                                    <option value="9">9 months</option>

                                    <option value="10">10 months</option>
                                    <option value="11">11 months</option>
                                    <option value="12">12 months</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="formControls.dontHaveHeatingDetail.value==0" class="text-danger errorText" style="display: none;" id="ageError_{{i}}">Age is required
                        </div>
                    </div>
                </div>
                <!--  col-md-6   -->
            </div>


            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="last">Use</label>
                        <select class="form-select" aria-label="Default select example"
                            formControlName="heatingSystemUsageFrequencyType">
                            <option *ngFor="let heatingSystemUsageFrequencyType of heatingSystemUsageFrequencyTypeEnum"
                                value="{{heatingSystemUsageFrequencyType.value}}">
                                {{heatingSystemUsageFrequencyType.description}}</option>
                        </select>
                    </div>
                </div>
            </div> -->
            <!--  row   -->


            <!-- <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label for="first">Area</label>
                        <div class="floor-group-type">
                            <div class="checkbox-group" *ngFor="let heatingSystemAreaType of heatingSystemAreaTypeEnum">
                                <input type="checkbox" id="{{heatingSystemAreaType.value}}"
                                    value="{{heatingSystemAreaType.value}}" (change)="onChangeAreaTypeCheckBox($event)"
                                    [checked]="commonOpsService.markCheckboxChecked(heatingSystemAreaType.value, this.inputForm.controls.areaTypeArray.value)">
                                <label
                                    for="{{heatingSystemAreaType.value}}">{{heatingSystemAreaType.description}}</label>
                            </div>
                        </div>
                        <div *ngIf="formControls.areaTypeArray.value.length==0 && submitted" class="text-danger">
                            Area Type is required.
                        </div>
                    </div>
                </div>
            </div> -->
            <!--  row   -->
        </div>
        <div class="modal-footer">
            <button type="button" (click)="closeFormEvent.emit()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" (click)="open(content)" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

<ng-template #content let-modal>
    <div class="skip-recommendations">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModalClick()" aria-label="Close"></button>


        </div>
        <div class="modal-body">
            <img src="assets/img/add-equipment-icon.svg" class="add-equipment-icon" alt="modal-home-icon">
            <p>Do you want to add another heating source?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="onModelNoClick()" data-bs-dismiss="modal">No</button>
            <button type="button" (click)="onModelYesClick()" class="btn btn-primary">Yes</button>
        </div>
    </div>
</ng-template>