<!-- <div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="breadcrumb-box">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div> -->

<section id="rea-dashboard-top">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="title-heading-main">
                    <h4>Hello, {{this.userJwtDecodedInfo.FullName}}</h4>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="dashboard-search" style="margin: 0;">

                    <div class="form-group">
                        <i class="fas fa-search"></i>
                        <input class="form-control form-control-lg form-control-borderless" type="search" (input)="searchKeyUp($event)" (keydown)="searchPressed($event)" placeholder="Search by name, email, or address" id="searchKeyword">
                        <button class="btn btn-lg btn-danger" *ngIf="searchText.length>0" (click)="clearSearch()" type="button"></button>
                        <button class="btn btn-lg btn-success" (click)="onClickSearchBar()" type="button"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row mb-3">
        <div class="col-xl-4 col-lg-4 col-md-12">
            <div class="dashboard-box">
                <h6>Invite Homeowner</h6>
                <!-- <a href="javascript:;" (click)="openWelcomeModal(welcomeMessageModalContent)" class="btn-secondary">+ add new client</a> -->
                <a href="javascript:;" (click)="openInviteClientModal(inviteClientModalContent)" class="btn-secondary">+
                    Add Homeowner</a>

            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12">
            <div class="dashboard-box">
                <h6>Create New Message</h6>
                <a (click)="openModal(messageModalContent)" class="btn-secondary">+ Add New Message</a>
                <!-- <br>
                <a href="javascript:;" (click)="openWelcomeModal(welcomeMessageModalContent)" class="">Edit Welcome
                    Message</a> -->
            </div>

        </div>

        <div class="col-xl-4 col-lg-4 col-md-12">
            <div class="dashboard-box">
                <h6>Share Upkeepable</h6>
                <a (click)="openModal(qrCodeModalContent)" class="btn-secondary">SHARE NOW</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-2 mt-3">
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="recently-added-heading-main">
                <h4>HOMEOWNERS</h4>
            </div>
        </div>

        <!-- <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="recently-added-btn-main">
                <a href="javascript:;" (click)="onClieckViewAllClients()" class="btn-primary-small">add new homeowner</a>
            </div>
        </div> -->
    </div>
</div>
<app-client-manager #clientManagerTemplate [userId]="userId"></app-client-manager>


<!-- Modal -->
<div class="edit-message-modal">
    <div class="modal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <ng-template #messageModalContent let-modal>
                <app-message-editor [realEstateAgentMessageId]="0" (refreshMessageListEvent)="onRefreshMessageListEvent()"></app-message-editor>
            </ng-template>
        </div>
    </div>
</div>


<div class="qr-code-modal">
    <div class="modal-header">
        <button type="button" class="btn-close" (click)="onClickCloseModal()" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal">
        
        
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <!-- <div class="modal-content"> -->
            <ng-template #qrCodeModalContent let-modal>

                <div class="modal-header">
                    <button type="button" class="btn-close" (click)="onClickCloseModal()" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="qr-modal-body">
                <div class="qr-modal-heading">
                    <h4>Scan QR Code</h4>
                    <p>Your personal QR referral code</p>
                    </div>
                    
                    <div class="qr-modal-img">

                   <div class="qr-modal-img-logo"> <img id="qrLogo" src="assets/img/qr-modal-img-logo.png"></div>
               <!-- <ngx-qrcode #event
                    [elementType]="elementType" 
                    [value]="value"
                    cssClass="aclass"
                    [imageSrc]="'./assets/img/qr-logo-img-new.png'"
                    errorCorrectionLevel="correctionLevel">
                </ngx-qrcode> -->

                <qrcode #event
                [id]="'canvasId'"
                [qrdata]="value"
                [allowEmptyString]="true"
                [ariaLabel]="'QR Code image with the following content...'"
                [cssClass]="'center'"
                [colorDark]="'#000000ff'"
                [colorLight]="'#ffffffff'"
                [elementType]="'img'"
                [errorCorrectionLevel]="'M'"
                [backgroundImage]="'assets/img/qr-logo-img-new.png'"
             
                [imageHeight]="200"
                [imageWidth]="200"
                [margin]="2 "
                [scale]="1"
                [title]="'A custom title attribute'"
                [width]="300"
              ></qrcode>
                <!-- <qrcode [qrdata]="value"  [elementType]="'canvas'" [imageSrc]="'./assets/img/qr-logo-img-new.png'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                <div class="qrcodeImage"> 
                    <qrcode
                      [qrdata]="'https://github.com/Cordobo/angularx-qrcode'"
                      [allowEmptyString]="true"
                      [ariaLabel]="'QR Code image with the following content...'"
                      [cssClass]="'center'"
                      [colorDark]="'#000000ff'"
                      [colorLight]="'#ffffffff'"
                      [elementType]="'canvas'"
                      [errorCorrectionLevel]="'M'"
                      imageSrc="'assets/img/qr-logo-img-new.png'"
                   
                      [imageHeight]="75"
                      [imageWidth]="75"
                      [margin]="4"
                      [scale]="1"
                      [title]="'A custom title attribute'"
                      [width]="300"
                    ></qrcode>
                  </div>                   -->
            </div>
                <!-- value that you want to encode -->
                <div class="qr-modal-textarea-main">
                    <label>Your Personal Link</label>
                <div class="qr-modal-textarea">
                <textarea #userinput readonly class="no-selection"
                (mousedown)="preventSelection($event)">{{value}}</textarea>
                <button (click)="copyInputMessage(value)" value="click to copy" class="btn-secondary">Copy</button>
            </div>
            </div>
            <div class="qr-modal-Download">
                <button (click)="download(event)" class="btn-primary">Download QR Code</button>
            </div>
            </div>
            </ng-template>
            
            <!-- </div> -->
        </div>
    </div>
</div>

<ng-template #cropImageModal let-modal>
    <div class="modal-header">
        <button type="button" (click)="onCancelCropImageModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <app-image-cropper-tool [targetParentImageElementId]="targetImageElementId" [aspectRatio]="aspectRatio" (passCroppedImageToParentEvent)="onImageCropper($event)" [fileUploadEventObject]="fileUploadEventObject">
    </app-image-cropper-tool>
</ng-template>

<!-- Modal -->
<div class="add-footer-link-modal">
    <div class="modal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <!-- <div class="modal-content"> -->
            <ng-template #welcomeMessageModalContent let-modal>
                <form [formGroup]="inputFormWelcomeMessage" (ngSubmit)="onWelcomeMessageFormSubmit()">
                    <input type="hidden" formControlName="realEstateAgentWelcomeMessageId">
                    <input type="hidden" formControlName="userRefId">
                    <div class="modal-header">
                        <button type="button" class="btn-close" (click)="onClickCloseModal()" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="add-footer-modal-heading">
                            <h4>Update Welcome Message Text</h4>
                            <!-- <p>Update your photo and personal details here.</p> -->
                        </div>

                        <div class="edit-welcome-message-modal">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="edit-welcome-message-box">
                                        <h5>Message<span> *</span></h5>
                                        <textarea class="edit-welcome-message-form welcome-message-textarea" (focusout)="commonOpsService.trimFormControlOnFocusOut($event, inputFormWelcomeMessage, 'messageText')" rows="6" cols="50" formControlName="messageText">
                                        </textarea>
                                        <div *ngIf="inputFormWelcomeMessage.messageText.invalid && (inputFormWelcomeMessage.messageText.dirty || inputFormWelcomeMessage.messageText.touched)" class="text-danger">
                                            <div *ngIf="inputFormWelcomeMessage.messageText.errors?.required">
                                                Message is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save message</button>
                    </div>
                </form>
            </ng-template>
            <!-- </div> -->
        </div>
    </div>
</div>


<!-- Modal -->
<div class="create-new-owner-modal">
    <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg modal-dialog-centered">
            <!-- <div class="modal-content"> -->
            <ng-template #inviteClientModalContent let-modal>
                <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
                    <div class="modal-header">
                        <button type="button" class="btn-close" (click)="onClickCloseModal()" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="add-footer-modal-heading">
                            <h4>Create New Homeowner</h4>
                            <p>Fill the complete information about new homeowner</p>
                        </div>
                        <div class="create-new-owner-modal-form">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label for="company">First Name <span>*</span></label>
                                        <input type="text" class="form-control" placeholder="First Name" formControlName="firstName">
                                        <div *ngIf="InviteClientformControls.firstName.invalid && (submitted || InviteClientformControls.firstName.dirty || InviteClientformControls.firstName.touched)" class="text-danger">
                                            <div *ngIf="InviteClientformControls.firstName.errors?.required">
                                                First name is required.
                                            </div>
                                            <div *ngIf="InviteClientformControls.firstName.errors?.pattern">
                                                Invalid First name.
                                            </div>
                                            <div *ngIf="InviteClientformControls.firstName.errors?.maxlength">
                                                First name can be max 20 characters long.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  col-md-6   -->
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label for="company">Last Name <span>*</span></label>
                                        <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
                                        <div *ngIf="InviteClientformControls.lastName.invalid && (submitted || InviteClientformControls.lastName.dirty || InviteClientformControls.lastName.touched)" class="text-danger">
                                            <div *ngIf="InviteClientformControls.lastName.errors?.required">
                                                Last name is required.
                                            </div>
                                            <div *ngIf="InviteClientformControls.lastName.errors?.pattern">
                                                Invalid Last name.
                                            </div>
                                            <div *ngIf="InviteClientformControls.lastName.errors?.maxlength">
                                                Last name can be max 20 characters long.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  col-md-6   -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Phone <span></span></label>
                                        <!-- <label for="phone">Phone <span>*</span></label> -->
                                        <input type="text" formControlName="phone" class="form-control" placeholder="Phone" id="phone">

                                        <div *ngIf="(InviteClientformControls.phone.invalid) && (submitted || InviteClientformControls.phone.dirty || InviteClientformControls.phone.touched)" class="text-danger">
                                            <!-- <div *ngIf="InviteClientformControls.phone.errors?.required">
                                                Phone is required.
                                            </div> -->
                                            <div *ngIf="InviteClientformControls.phone.errors?.pattern">
                                                Invalid phone number.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  col-md-6   -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email address <span>*</span></label>
                                        <input type="email" class="form-control" placeholder="Email" formControlName="email" (keyup)="checkDuplicateEmail()" (focusout)="onEmailFocusOut()">
                                        <div *ngIf="(InviteClientformControls.email.invalid) && (submitted || InviteClientformControls.email.dirty || InviteClientformControls.email.touched)" class="text-danger">
                                            <div *ngIf="InviteClientformControls.email.errors?.required">
                                                Email address is required.
                                            </div>
                                            <div *ngIf="InviteClientformControls.email.errors?.pattern">
                                                Invalid email address.
                                            </div>
                                        </div>
                                        <div *ngIf="isDuplicateEmail && (!InviteClientformControls.email.errors?.required) && (!InviteClientformControls.email.errors?.pattern)" class="text-danger">
                                            Email id already exists..!
                                        </div>
                                    </div>
                                </div>
                                <!--  col-md-6   -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email">Home address <span></span></label>
                                        <!-- <label for="email">Home address <span>*</span></label> -->
                                        <input type="text" class="form-control" placeholder="Home address" formControlName="address">
                                        <div *ngIf="InviteClientformControls.address.invalid && (submitted || InviteClientformControls.address.dirty || InviteClientformControls.address.touched)" class="text-danger">
                                            <!-- <div *ngIf="InviteClientformControls.address.errors?.required">
                                                Address is required.
                                            </div> -->
                                            <div *ngIf="InviteClientformControls.address.errors?.pattern">
                                                Invalid Address.
                                            </div>
                                            <div *ngIf="InviteClientformControls?.address?.errors?.maxlength">
                                                Address can be max 40 characters long.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  col-md-6   -->

                            </div>
                            <div class="row">


                                <!--  col-md-4   -->
                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                        <div class="select-dropdown">
                                            <!-- <select class="form-select" formControlName="cityRefId"
                aria-label="Default select example">
                <option value="" selected>City Name</option>
                <option *ngFor="let cityType of cityTypeEnum" value="{{cityType.value}}">
                    {{cityType.description}}
                </option>
            </select> -->
                                            <input type="text" class="form-control" (focusout)="commonOpsService.trimFormControlOnFocusOut($event, inputForm, 'cityName')" placeholder="City Name" formControlName="cityName">
                                            <div *ngIf="(InviteClientformControls.cityName.invalid) && (submitted || InviteClientformControls.cityName.dirty || InviteClientformControls.cityName.touched)" class="text-danger">
                                                <!-- <div *ngIf="InviteClientformControls.cityName.errors?.required">
                                                    City is required.
                                                </div> -->
                                                <div *ngIf="InviteClientformControls.cityName.errors?.pattern">
                                                    Invalid City.
                                                </div>
                                                <div *ngIf="InviteClientformControls.cityName.errors?.maxlength">
                                                    City can be max 20 characters long.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                        <div class="select-dropdown">
                                            <select class="form-select" formControlName="stateCode" aria-label="Default select example">
                                                <option value="" selected>State Name</option>
                                                <option *ngFor="let state of states" value="{{state.stateCode}}">
                                                    {{state.stateTitle}}
                                                </option>
                                            </select>
                                            <!-- <div *ngIf="(InviteClientformControls.stateCode.invalid) && (submitted || InviteClientformControls.stateCode.dirty || InviteClientformControls.stateCode.touched)" class="text-danger">
                                                <div *ngIf="InviteClientformControls.stateCode.errors?.required || InviteClientformControls.stateCode.value==0">
                                                    State is required.
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>

                                <!--  col-md-4   -->
                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="zipCode" placeholder="Zip Code">
                                        <div *ngIf="(InviteClientformControls.zipCode.invalid) && (submitted || InviteClientformControls.zipCode.dirty || InviteClientformControls.zipCode.touched)" class="text-danger">
                                            <!-- <div *ngIf="InviteClientformControls.zipCode.errors?.required">
                                                Zip code is required.
                                            </div> -->
                                            <div *ngIf="InviteClientformControls.zipCode.errors?.pattern">
                                                Invalid zip code.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  col-md-4   -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="upload-image-box home-owner-home-img-up" *ngIf="homePhoto">
                                        <img class="img-fluid" id="homePhotoImgElement" [src]="homePhoto" alt="profile-change-img">
                                    </div>
                                    <ul class="upload-image-box-link">
                                        <li>

                                            <input type="file" accept="image/png, image/jpeg" id="homePhotoBrowserInput" (change)="onHomeProfilePhotoBrowserInputChange($event,'homePhotoImgElement', '4.52')" style="display: none;">

                                            <a href="javascript:;" onclick="homePhotoBrowserInput.value = null" (click)="passClickToHomeProfileFileInput('homePhotoBrowserInput')" class="btn-primary-small">Upload Image</a>
                                        </li>
                                        <li> <a href="javascript:;" *ngIf="homePhoto" (click)="onRemoveImage()" class="btn-secondary-small">Remove</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer rea-modal-footer">
                        <button type="button" (click)="onSubmitWithskipHomeDetails()" class="btn btn-primary">skip home owner profile</button>
                        <button type="button" (click)="onSubmitWithCompleteHomeDetails()" class="btn btn-disable comp-ho-pro-btn" data-bs-dismiss="modal">Complete home owner profile</button>
                    </div>
                </form>
            </ng-template>
            <!-- </div> -->
        </div>
    </div>
</div>